includeConfig "$baseDir/parameters/inOutParams.config"
includeConfig "$baseDir/parameters/gatkParams.config"
includeConfig "$baseDir/parameters/processParams.config"


/*
process.container = '/home/maulik/data/Shared/tools/containers/'
singularity.cacheDir = "/home/maulik/data/Shared/tools/containers/"
singularity.enabled = true
*/


profiles {
  standard {
     process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        executor="local"
        memory='0.6G'
        cpus='1'
        time='6h'

        withLabel: 'twocpus' {
            memory='0.6G'
            cpus='1'
        }
      }
   }
   cluster {
     process {
        //containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        executor="slurm"
        //queue = "smallcpus"
        withLabel: 'twoCpus' {
            memory='20G'
            cpus='2'
            time='72h'
        }

        withLabel: 'oneCpu' {
            //queue = "bigcpus"
            memory='20G'
            cpus='1'
            time='48h'
        }
        withLabel: 'fourCpus' {
            memory='30G'
            cpus='4'
            time='48h'
        }
      }
   }

   cloud {
    workDir = 's3://class-bucket-XXX/work'
    aws.region = 'eu-central-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    
   process {
       containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
       executor = 'awsbatch'
       queue = 'spot'
       memory='1G'
       cpus='1'
       time='6h'

       withLabel: 'twocpus' {
           memory='0.6G'
           cpus='2'
       }
    }
  }


}


