params {
    chrmNameF       = "${baseDir}/../../../References/Goat/ChrmName.txt"
    databasePath    = "${baseDir}/../../../WholeGenomeSequenceData/GvcfDatabase/Goats/NewSamples"
    rawVcf_outDir   = "rawVcf_output_remaining"
    filtVcf_outDir  = "filtVcf_output_remaining"
    sampleNameF     = "NA"
    batch_size      = 10
    qd              = 2
    qual            = 30
    sor             = 3
    fs              = 60
    mq              = 40
    mqRankSum       = 12.5
    readSum         = 8

}
