params {
    sampleGvcfs_outDir = "sample_gvcfs"
    bamFilesPath     = "${baseDir}/remainingBamFiles/*.{bam,bai}"
    vcfFilesPath     ="${baseDir}/filtVcf_output_1/*.{vcf.gz,vcf.gz.tbi}"
    refFile     = "${baseDir}/../../../References/Goat/ARS1*.{fna,fna.fai,dict}"
    phased_outDir= "phasedVcf_output"
    tmp_dir="/home/maulik/data/Shared/Maulik/nextflowScripts/tmp"
}
