params {
    //params.CONTAINER = "broadinstitute/gatk:4.2.3.0"
    sampleGvcfs_outDir = "merge_gvcf_3"
    bamFilesPath     = "${baseDir}/../data/*.{bam,bai}"
    vcfFilesPath     ="${baseDir}/filtVcf_output/*.{vcf.gz,vcf.gz.tbi}"
    refFile     = "${baseDir}/../data/*.{fna,fna.fai,dict}"
    chrmNameF   ="${baseDir}/../data/ChrmName.1.txt"
    databasePath = "${baseDir}/GatkDatabase/"
    // add gvcf file to existing gatk gvcf database? "N" --> no, "Y" --> yes, "NA" --> not applicable
    addGvcf = "N"
    sampleMap ="NA"
    // call snps and subsequent gatk hard filtering? "N" --> no, "Y" --> yes
    snpCall = "N"
    rawVcf_outDir= "rawVcf_output"
    filtVcf_outDir= "filtVcf1_output"
    phased_outDir= "phasedVcf_output"
    phasedSnps= "N"
}
