params {

    // add gvcf file to existing gatk gvcf database? "N" --> no, "Y" --> yes, "NA" --> not applicable
    // No -->  database has to be created if not added
    // "NA" -->  skip the process until the gvcf database creation 
    addGvcf = "Y"
    sampleMap = "NA"
    //sampleMap ="/data/headnode01/medugorac/Shared/Maulik/nextflowScripts/BamToPopgenDev/merge_gvcf/SampleVcf.map"
    // call snps and subsequent gatk hard filtering? "N" --> no, "Y" --> yes, "NA" --> not applicable
    snpCall = "N"
    indelCall = "N"
    mixedCall = "N"
    // phased Snps using beagle? "N" --> no, "Y" --> yes, "NA" --> not applicable
    phasedSnps= "N"


}
